@font-face {
    font-family: "Golos-Regular";
    src: url("/public/fonts/Golos-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Golos-Medium";
    src: url("/public/fonts/Golos-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Golos-SemiBold";
    src: url("/public/fonts/Golos-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Golos-Bold";
    src: url("/public/fonts/Golos-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
