$white: #ffffff;
$black: #424242;
$green: #51bc40;
$gray: #ededf5;

$gray-100: #eceff0;

$main: #36a1ea;
$main-hover: #45b2fc;
$main-active: #238fd9;
$main-disabled: #9ad0f5;

$txt-main: #222327;
$txt-light: #9e9fa8;

$status-green: #73d264;
$status-yellow: #fcca13;
$status-red: #f86e6e;

$bg-light: #ecf6fc;
$bg-purple: #e8e6ff;
$bg-green: #ecfcd8;
$bg-gray: #d2dee4;
$bg-gray-light: #f7f9fa;
$bg-orange: #fce5d8;

$transition: all 0.3s;

$opacity: 0.5;

$tooltip-shadow: 0px 20px 60px rgba(27, 90, 134, 0.2);
$cool-shadow: 0px 10px 20px rgba(27, 90, 134, 0.2);
